<%= form_for(@group) do |form| %>
  <div class="field">
    <div class="control">
      <%= form.label :name, 'Group name', class: "label has-text-grey" %>
      <%= form.text_field :name, class: 'input', placeholder: "ex. Running or Walking..." %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :description, 'Describe the group', class: "label has-text-grey" %>
      <%= form.text_area :description, class: 'textarea', placeholder: "What kind of activities will be assigned to this group?" %>
    </div>
  </div>

  <div class="field">
    <div class="file is-primary">
      <label class="file-label">
        <%= form.file_field :icon, class: 'file-input', accept: "image/jpeg,image/gif,image/png" %>
        <input class="file-input" type="file" name="resume">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Choose an icon…
          </span>
        </span>
      </label>
    </div>
  </div>

  <div class="field">
    <div class="control pt-6">
      <%= form.submit 'Save', class: 'button input is-link' %>
    </div>
  </div>
<% end %>
