<a class="box" href="<%= group_path(group) %>">
  <div class="card is-shadowless">
    <div class="card-image">
      <figure class="image">
        <%= image_tag group.display_icon if group.icon.attached? %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4 has-text-centered"><%= group.name %></p>
        </div>
      </div>
      <div class="content">
        <p><%= group.description %></p>
        <br>
        <p>Created on: <%= group.created_at.strftime("%d %B %Y") %>
      </div>
    </div>
  </div>
</a>