<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <div class="card has-background-primary is-shadowless">
      <div class="card-image">
        <figure class="image ">
          <%= gravatar_image_tag(user.name, size: 128, alt: user.email, class: "is-rounded") %>
        </figure>
      </div>
      <div class="card-content has-text-centered">
        <div class="media">
          <div class="media-content">
            <p class="subtitle is-4 has-text-white-ter"><%= user.name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<nav class="panel is-shadowless">
  <p class="panel-heading has-background-primary">
  </p>
  <a class="panel-block has-text-white-ter" href="<%= personal_path %>">
    <span class="panel-icon has-text-white">
      <i class="fas fa-walking" aria-hidden="true"></i>
    </span>
    All my activities
  </a>
  <a class="panel-block has-text-white-ter" href="<%= external_path %>">
    <span class="panel-icon has-text-white">
      <i class="fas fa-running" aria-hidden="true"></i>
    </span>
    All my external activities
  </a>
  <a class="panel-block has-text-white-ter" href="<%= groups_path %>">
    <span class="panel-icon has-text-white">
      <i class="fas fa-users" aria-hidden="true"></i>
    </span>
    All Groups
  </a>
</nav>
