<%= form_for(@activity) do |form| %>
  <div class="field">
    <div class="control">
      <%= form.label :description, 'Activity', class: "label has-text-grey " %>
      <%= form.text_area :description, class: 'textarea', placeholder: "Describe your activity..." %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.label :amount, 'Time spent performing the activity', class: "label has-text-grey" %>
      <%= form.text_field :amount, class: 'input', placeholder: "In minutes..." %>
    </div>
  </div>

  <div class="field">
    <div class="control pt-6">
      <%= form.submit 'Save', class: 'button is-link input' %>
    </div>
  </div>
<% end %>
